<html>
    <head>
        <title>Home</title>
        <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    </head>
    <body>
        <h2> <%= book.name %></h2><br>
        <p>Author: <%= book.author %></p>
    </body>
</html>