<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="container">
        <h1>BOOKS LIST</h1>
        <ul>
            <% books.forEach(book => { %>
                <li><strong><%= book.title %></strong></li>
                <li><%= book.summary %></li>
                <li><%= book.author %></li>
                <li><%= book.isbn %></li>
                <br>
            <% }) %>
        </ul>
    </div>
    <script src="js/bootstrap.js"></script>
</body>

</html>