<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <p>This is a home page.</p>
        <ul>
            <% for(var id in books){ %>
                <li> <%= id %>
                    <ul>
                        <% for(var info in books[id]){ %>
                            <li><%= books[id][info] %></li>
                        <% } %>
                    </ul>
                </li>
            <% } %>
        </ul>
    </body>
</html>